@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  line-height: 1.8em;
  font-weight: normal;
  font-variant: normal;
}
html,
.main {
  padding: 0;
  margin: 0;
  background-color: #383a3b;
}
.clr {
  clear: both;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  line-height: 0;
}
.logo {
  padding: 4px 0 4px 40px;
  float: left;
  width: auto;
}
h1 {
  margin: 0;
  padding: 16px 0;
  color: #386baa;
  font: normal 38px/1.2em Arial, Helvetica, sans-serif;
  letter-spacing: -2px;
}
h1 a,
h1 a:hover {
  color: #386baa;
  text-decoration: none;
}
h1 span {
  color: #fff;
  font-weight: bold;
}
h1 small {
  padding: 0;
  font: normal 16px/1.2em Arial, Helvetica, sans-serif;
  letter-spacing: normal;
  color: #fff;
}
h2 {
  font: bold 24px Arial, Helvetica, sans-serif;
  padding: 8px 0;
  margin: 8px 0;
  color: #4f5452;
  text-align: left;
}
p {
  margin: 8px 0;
  padding: 0 0 8px 0;
  font: normal 12px/1.8em Arial, Helvetica, sans-serif;
  text-align: left;
}
a {
  color: #2b5e9d;
  text-decoration: underline;
  transition: color 1.3s ease, text-decoration 1.3s ease;
}
.header,
.content,
.menu_nav,
.fbg,
.footer,
form,
ol,
ol li,
ul,
.content .mainbar,
.content .sidebar {
  margin: 0;
  padding: 0;
}
.fbg_resize {
  margin: 0 auto;
  padding: 0 40px;
  width: 890px;
}
.header_resize {
  margin: 0 auto;
  padding: 0;
  width: 970px;
}
.hbg {
  background: url(../_images/hbg_bg.gif) repeat-x top;
  height: 256px;
}
.hbg_resize {
  margin: 0 auto;
  padding: 187px 0 0;
  width: 970px;
  background: url(../_images/image.jpg) no-repeat top;
  height: 256px;
}
.menu_nav {
  margin: 0;
  padding: 20px 28px;
  background: url(../_images/menu.gif) repeat-x top;
  height: 69px;
}
.menu_nav ul {
  list-style: none;
}
.menu_nav ul li {
  margin: 0;
  padding: 0 16px 0 0;
  float: left;
}
.menu_nav ul li a {
  display: block;
  margin: 0;
  padding: 4px 16px;
  color: #4b4b4b;
  text-decoration: none;
  font-size: 14px;
}
.menu_nav ul li a {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.menu_nav ul li.active a,
.menu_nav ul li a:hover {
  background: #f00 url(../_images/menu_a.gif) repeat-x center;
  color: #fff;
}
#formsearch {
  margin: 0;
  padding: 20px 16px 48px 0;
}
#formsearch span {
  display: block;
  margin: 6px 0;
  padding: 0 8px 0 11px !important;
  padding: 0 4px 0 6px;
  float: right;
  width: 183px;
  background: #fff url(../_images/search.gif) no-repeat top left;
}
#formsearch input.editbox_search {
  margin: 0;
  padding: 5px 0;
  float: left;
  width: 180px;
  height: 20px;
  border: none;
  background: none;
  font: normal 13px/20px Arial, Helvetica, sans-serif;
  color: #a8acb2;
}
#formsearch input.button_search {
  margin: 6px 0 0 0;
  padding: 0;
  border: none;
  float: right;
}
.content_resize {
  margin: 0 auto;
  padding: 0;
  width: 970px;
  background-color: #fff;
  border-top: 0;
}
.content .fullbar {
  /* added 7/9/2024	*/
  padding-left: 20px;
  padding-right: 25px;
  text-align: justify;
  margin-top:0;
  padding-top:0;
}
.fullbar{
  margin-bottom:0;
  margin-top:0;
  padding-bottom:0;
}
.content .mainbar {
  margin: 0;
  padding: 0;
  float: right;
  width: 670px;
  
}
.fl { margin:4px 16px 4px 0; float:left;}
.rtl { margin:4px 4px 16px 0; float:right;}

.content .mainbar .article {
  margin: 0;
  padding: 16px 24px 24px 40px;
}
.content .sidebar {
  padding: 0;
  float: left;
  width: 300px;
  vertical-align: bottom;
}
.content .sidebar .gadget {
  margin: 0;
  padding: 16px 16px 24px 40px;
}
ul.sb_menu,
ul.ex_menu {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
}
ul.sb_menu li,
ul.ex_menu li {
  margin: 0;
}
ul.sb_menu li {
  padding: 4px 0 4px 12px;
  width: 220px;
}
ul.ex_menu li {
  padding: 4px 0 8px 12px;
}
ul.sb_menu li a,
ul.ex_menu li a {
  margin-left: -12px;
  padding-left: 12px;
}
ul.sb_menu li a:hover,
ul.ex_menu li a:hover {
  color: #3a86e2;

}

ul.sb_menu li a:hover {
  text-decoration: underline;
}
ul.ex_menu li a:hover {
  text-decoration: none;
}
.content .mainbar .comment {
  margin: 0;
  padding: 16px 0 0 0;
}
.content .mainbar .comment img.userpic {
  border: 1px solid #dedede;
  margin: 10px 16px 0 0;
  padding: 0;
  float: left;
}
.fbg_resize {
  padding: 24px 40px;
  color: #fff;
  background-color: #525657;
}
.fbg_resize img {
  border: 1px solid #cfd2d4;
  background-color: #fff;
}
.fbg h2,
.fbg a {
  color: #fff;
}
section h2{
  display: inline-block;
}
 img {
  padding: 4px;
  border-radius: 3px;;
  /*
  border: 1px solid #cfd2d4;
  background-color: #fff;*/
}
.fbg .col {
  margin: 0;
  float: left;
}
.fbg .c1 {
  padding: 0 16px 0 0;
  width: 256px;
}
.fbg .c2 {
  padding: 0 16px;
  width: 290px;
}
.fbg .c3 {
  padding: 0 0 0 16px;
  width: 280px;
}
.fbg .c1 img {
  margin: 8px 16px 8px 0;
}
.fbg .c3 img {
  margin: 8px 16px 4px 0;
  float: left;
}
.footer {
  background: #f00 url(../_images/footer_bg.gif) repeat-x top;
  color: #727272;
}
.footer a {
  color: #727272;
}
.footer a:hover {
  text-decoration: none;
  color: whitesmoke;
}
.footer_resize {
  margin: 0 auto;
  padding: 32px 40px 24px;
  width: 890px;
}
.footer .lf {
  margin: 0;
  padding: 4px 0;
  float: left;
  text-align: center;
}
.footer .rf {
  margin: 0;
  padding: 4px 0;
  float: right;
}
ol {
  list-style: none;
}
ol li {
  display: block;
  clear: both;
}
ol li label {
  display: block;
  margin: 0;
  padding: 16px 0 0 0;
}
ol li input.text {
  width: 480px;
  border: 1px solid #c0c0c0;
  margin: 2px 0;
  padding: 5px 2px;
  height: 16px;
  background: #fff;
}
ol li textarea {
  width: 480px;
  border: 1px solid #c0c0c0;
  margin: 2px 0;
  padding: 2px;
  background: #fff;
}
ol li .send {
  margin: 16px 0 0 0;
}
.links {
  padding-left: 80px;
  padding-right: 80px;
  margin: 0;
  font-size: 1.3rem;
}
.linksColor:hover  {
  color: whitesmoke;
  font-size: xx-large;
  display: inline-block;
  position: absolute;
}

/*My code */
footer {
  padding: 20px 0;
  background-color: transparent;
}

.footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.footer-links a{
  color: whitesmoke;
}

.link {
  color: #727272;
  text-decoration: none;
  padding: 10px 15px;
  margin: 5px;
  transition: padding 50.3s ease, margin 50.3s ease, color 0.3s ease, underline 0.5s ease;
}

.link:hover {
  color: #007bff;
  text-decoration: underline;
  padding: 0px 1px;
  margin: 0px;
  flex-wrap: wrap-reverse;
}


.image {
  box-shadow: 0 4px 2px 0 rgba(0,0,0,0.2);
  background: none;
  color: initial;
}
.image:hover, .image:active {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background: none;
  color: initial;
}
.newspaper2 { columns:3;column-rule: 4px double #d4ffe9;}

.colms2{column-rule: 4px double #3b003b40;columns: 2;}

.ex_menu li   {
  font-size: 18px;
  break-inside: avoid;
}
.intel_menu li   {
  font-size: 35px;
}
.ex_menu li h2, .ex_menu p {
    display: inline;
}
 a:hover {
  text-decoration: none;
  color: #3a86e2;
}

.card2 {
  box-shadow: 0 4px 2px 0 rgba(0,0,0,0.2);
  transition: all 0.3s ease-in-out;
}
.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
ul h2 {
  font-size: larger;
  text-transform: uppercase;
  color: #386baa;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  margin-top: 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  break-inside: avoid-column;
}

/*This I got it straight from jsk*/
.container li {
  list-style-type: none;
}

.colms2 .card2 {
  background-color: #DBE9FA;
  break-inside: avoid-column;
}

.fl {
  margin: 4px 16px 4px 0;
  float: left;
}

.rtl {
  margin: 4px 4px 16px 0;
  float: right;
}
.ul .colms2 {
  list-style-type: none;
}
.item {
  break-inside: avoid-column;
}

.fullbar h2:first-of-type {
  margin-top: 0;
}