li {
    font-size: 1.5rem;
    text-align:center;
    list-style-type: none;
    border: 1px solid transparent;
}
.border-li:hover {
    border: 1px solid gray;
    cursor:pointer;
}
.border-li:focus {
    border: 1px solid gray;
    cursor:pointer;
}
.lastItem {
    padding-bottom: 1.5%;
}