    details {
        font-size: 18px;
        border: solid 2px black;
        width: 75%;
        display: inline-block;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    summary {
        display: inline;
        padding: 1%;
        background: linear-gradient(to right, #868f96 0%, #596164 100%);
        border-radius: 0 20px 0 25px;
        cursor: pointer;
        color:#FAFAFA;
        padding-left:5%;
    }
    summary:hover, summary:focus{
        color:black;
    }
    .pe{
        margin-top:7px;
        padding-right:13px;
    }
    #image-container { width: 100%; height: 100%; position: relative; }
    #image-container img { width: 100%; height: 71rem; position: absolute;}
    .last {display: inline;}
    li {
        font-size: 1.3rem;
    }