.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}
.container dd, .container dt   {
font-size: 18px;
}
.container dt a:hover{
    text-decoration: none;
    color: #3a86e2;
}
/* Hero section */
.hero {
    background-color: #ffd300;  /*CYBER YELLOW*/
    color: black;
    text-align: center;
    padding: 50px 0 30px 0;
}

.hero h2 {
    font-size: 32px;
}

.hero p {
    font-size: 18px;
}
.hero2 {
    background-color: #ffd50055;  /*CYBER YELLOW*/
    color: black;
    text-align: center;
    padding: 50px 0 30px 0;
}

.hero2 h2 {
    font-size: 32px;
}

.hero2 p {
    font-size: 18px;
}
.hero3 {
    background-color: #008cff55;  /*CYBER YELLOW*/
    color: black;
    text-align: center;
    padding: 50px 0 30px 0;
}

.hero3 h2 {
    font-size: 32px;
}

.hero3 p {
    font-size: 18px;
}
.hero4 {
    background-color: whitesmoke;
    color: black;
}

.hero4 h2 {
    font-size: 32px;
}

.hero4 p {
    font-size: 18px;
}

/* Services section */
.services {
    background-color: #fff;
    color: #333;
    padding: 40px 0;
}

.services h2 {
    font-size: 28px;
    text-align: center;
}

.services ul {
    list-style: disc;
    padding-left: 40px;
}

.services ul li {
    font-size: 18px;
}

/* Special offers section */
.offers {
    background-color: #f1f1f1;
    color: #333;
    padding: 40px 0;
}

.offers h2 {
    font-size: 28px;
    text-align: center;
}

.offers ul {
    list-style: square;
    padding-left: 40px;
}

.offers ul li {
    font-size: 18px;
}

/* Contact section */
.contact {
    background-color: #fff;
    color: #333;
    padding: 40px 0;
    text-align: center;
}

.contact h2 {
    font-size: 28px;
}

.contact p {
    font-size: 18px;
}

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer p {
    font-size: 14px;
}